h2 {
  text-transform: uppercase;
}

p {
  font-size: 5rem;
}

.currency-info-container {
  margin-bottom: 3rem;
}

#typeFlagContainer {
  display: flex;
  align-items: center;

  img {
    height: 1rem;
    margin-left: 0.5rem;
  }
}
